<div class="container">

    <h1 class="titulo">Detalhes sobre o teste</h1>
    <p class="subtitulo">Esta página contém alguns detalhes sobre o teste</p>

    <ul>
        <li>Desenvolvedor: João Victor Sena Cardoso</li>
        <li>Data de início do teste: 23/04/2021 as 07:00</li>
        <li>Versão do Angular: 10</li>
        <li>Angular Material utilizado apenas para menu lateral, e paginação da tabela que no começo foi feita por ele, mas depois reformulada para paginação na mão mesmo.</li>
        <li>NÃO foi utilizado nenhum framework de CSS como o Bootstrap (geralmente utilizo nos projetos, mas como foi solicitado NÃO utilizei o Bootstrap)</li>
        <li>Aplicação não possui dependencias de pluguins ou bibliotecas externas</li>
    </ul>

    <p class="subtitulo">Funcionalidades implementadas</p>
    
    <ul>
        <li>Listagem de todos veiculos</li>
        <li>Filtro por placa</li>
        <li>Paginação</li>
        <li>Detalhamento do veiculo clicando no Editar</li>
        <li>Exibição se está consultando API, se deu erro ou sucesso</li>
    </ul>

</div>