<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <img src="../../../assets/img/logo.png" class="logo" width="144px" alt="">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">
        <i class="material-icons">local_shipping</i>
        Veículos
      </a>
      <a mat-list-item routerLink="/detalhes-sobre-teste">
        <i class="material-icons">check_circle_outline</i>
        Detalhes sobre o teste
      </a>
      <a mat-list-item class="desabilitado">
        <i class="material-icons">dashboard</i>
        Dashboard
      </a>
      <a mat-list-item class="desabilitado">
        <i class="material-icons">build</i>
        Manutenção
      </a>
      <a mat-list-item class="desabilitado">
        <i class="material-icons">not_listed_location</i>
        Perguntas Frequentes
      </a>
      <a mat-list-item class="desabilitado">
          <i class="material-icons">logout</i>
          Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="bg-main c-white" *ngIf="isHandset$ | async">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
